@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #191919;
  color: #fff;

  input.form-control-search {
    background-color: transparent !important;
    color: #fff !important;

    &:focus {
      border-color: $yellow;
      box-shadow: 0 0 0 3px rgba($yellow, .25);
    }
  }

  .h-80vh {
    height: 80vh;
  }

  nav.navbar {
    background-color: #222;
  }

  .mw-600 {
    max-width: 600px;
  }

  .card {
    border: none;
    transition: $transition-base;

    &:hover {
      box-shadow: $box-shadow !important;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .v-align-center {
    height: 100vh;
    display: flex;
    align-items: center;

    h1 {
      margin: 0 auto;
      font-size: 4rem;
    }

    svg {
      position: absolute;
      top: 26px;
      right: 3%;
      cursor: pointer;
    }
  }
}