@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #191919;

  input.form-control-search {
    background-color: transparent !important;
    color: #fff !important;

    &:focus {
      border-color: $yellow;
      box-shadow: 0 0 0 3px rgba($yellow, .25);
    }
  }

  .h-80vh {
    height: 80vh;
  }
  
  nav.navbar {
    background-color: #222;
  }

  .mw-600 {
    max-width: 600px;
  }

  .card {
    border: none;
  }

}